services:
  erpc:
    image: ghcr.io/erpc/erpc:${ERPC_VERSION}
    restart: unless-stopped
    ports:
      - "${ERPC_HTTP_PORT}:4000"
      - "${ERPC_METRICS_PORT}:4001"
      - "${ERPC_PPROF_PORT}:6060"
    environment:
      LOG_LEVEL: "${LOG_LEVEL}"
    # No volume mount needed since we're using defaults
    networks:
      - erpc

networks:
  erpc:
    driver: bridge
