services:
  erpc:
    image: ghcr.io/erpc/erpc:latest
    restart: unless-stopped
    ports:
      - "${ERPC_HTTP_PORT:-4000}:4000"
      - "${ERPC_METRICS_PORT:-4001}:4001"
    networks:
      default: {}

networks:
  default:
    name: ${NETWORK_NAME}
    external: true
